@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .icon-dimenstions {
        width: 1.5rem;
        aspect-ratio: 1/1;
    }
}

@layer components {
    .hover-styles {
        @apply hover:cursor-pointer hover:bg-blue-300;
    }
    .overview-styles {
        @apply p-4 border flex flex-col items-center gap-2 rounded-xl hover:drop-shadow-xl hover:bg-blue-300 hover:cursor-pointer hover:scale-110;
    }
}

.active {
    background-color: #bdc9ef;
}
